**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         24 April 2024     

**Modified** 

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

**Ejercicio:** 
# Eliminación de registros de clientes

**Escenario:**

La librería de Mr. John Ericson tiene una base de datos que incluye una tabla de "Clientes" con los detalles de los clientes de la librería. Se necesita eliminar el registro del cliente Jimmy con el número de identificación 3 de la tabla de clientes.

**Pasos a seguir:**

1. **Crear la tabla de clientes:**
   - Antes de realizar cualquier operación, asegúrate de tener la tabla de clientes correctamente creada. Puedes utilizar la siguiente sentencia SQL para crear la tabla:
     ```sql
     CREATE TABLE customers (
         customerID INT PRIMARY KEY,
         customerName VARCHAR(50),
         customerAddress VARCHAR(100)
     );
     ```

2. **Preparar la tabla de clientes:**
   - Ahora, procede a poblar la tabla de clientes con los datos necesarios. Puedes insertar los datos de clientes utilizando la siguiente sentencia SQL:
     ```sql
     TRUNCATE TABLE customers;

     INSERT INTO customers (customerID, customerName, customerAddress) VALUES
     (1, 'Jack', '115 Old street Belfast'),
     (2, 'James', '24 Carlson Rd London'),
     (4, 'Maria', '5 Fredrik Rd, Bedford'),
     (5, 'Jade', '10 Copland Ave Portsmouth '),
     (6, 'Yasmine', '15 Fredrik Rd, Bedford'),
     (3, 'Jimmy', '110 Copland Ave Portsmouth');
     ```

3. **Eliminar registro de Jimmy:**
   - Primero, asegúrate de haber seleccionado la base de datos de la librería con el siguiente comando SQL:
     ```sql
     USE bookshop;
     ```
   - A continuación, ejecuta la siguiente sentencia SQL para eliminar el registro de Jimmy de la tabla de clientes:
     ```sql
     DELETE FROM customers WHERE customerID = 3;
     ```
   - Presiona Enter para ejecutar la consulta. El registro de Jimmy será eliminado de la base de datos de la librería.

4. **Verificar eliminación del registro:**
   - Para asegurarte de que el registro de Jimmy ha sido eliminado correctamente, puedes ejecutar la siguiente consulta SQL:
     ```sql
     SELECT * FROM customers;
     ```
   - Esto mostrará todos los registros de clientes restantes en la tabla. Verifica que el registro de Jimmy ya no esté presente.

**Tarea adicional (opcional):**

Mr. Ericson también desea eliminar el registro de Yasmine. Para ello, puedes seguir los mismos pasos anteriores utilizando el nombre del cliente en lugar del ID:

```sql
DELETE FROM customers WHERE customerName = 'Yasmine';
```

Una vez ejecutada esta consulta, el registro de Yasmine será eliminado de la base de datos de la librería.

In [ ]:
import mysql.connector

# Conectar a la base de datos
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # No se necesita contraseña en tu caso
    database="cm_devices",  # Reemplaza "nombre_de_tu_base_de_datos" con el nombre de tu base de datos
    port="3306"  # Puerto por defecto de MySQL
)

if conexion.is_connected():
    print("Conexión establecida correctamente")
else:
    print("No se pudo establecer conexión")


# Definir la consulta SQL para crear la tabla
comandoSQL = """




"""

print("Comando SQL almacenado en la variable comandoSQL")


# Ejecutar la consulta SQL para crear la tabla

# Crear un cursor
cursor = conexion.cursor()

# Ejecutar la consulta para crear la tabla
cursor.execute(comandoSQL)

# Confirmar los cambios en la base de datos
conexion.commit()


# Cerrar la conexión a la base de datos al final del código
conexion.close()
print("Conexión cerrada")